.header {
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  grid-area: logo;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  color: white;
  /* grid-area: link; */
}

.header__link_light {
  color: #a9a9a9;
}
.header__menu {
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr, auto;
  grid-template-areas:
    "email email email email"
    /* ". link ."  */
    "logo logo btn btn";
}
.header__menu_open {
  margin: 0;
  padding: 0;
}
.header__btn {
  background: #000 url(../images/mobileMenu.png) no-repeat;
  border: none;
  height: 24px;
  width: 24px;
  grid-area: btn;
  justify-self: end;
  /* margin-right:30px; */
}
.header__btn_open {
  background: #000 url(../images/closebutton.svg) no-repeat;
  border: none;
  height: 24px;
  width: 24px;
  grid-area: btn;
}
.header__sub-container {
  display: flex;
  align-items: flex-end;
  grid-area: email;
}
.header__sub-container_open {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;
  grid-area: email;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 27px;
}
.header__text {
  font-size: 18px;
  font-weight: 500;
  padding-right: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 20px;
  /* grid-area: email; */
}

@media screen and (max-width: 625px) {
  /*was at 409 625 is where other breaks are*/
  .header {
    padding: 28px 0 32px;
  }
  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-left: 30px;
  }
  .header__link {
    font-size: 14px;
    margin-right: 30px;
  }
  .header__menu_open {
    margin: 0;
  }
  .header__btn {
    margin-right: 30px;
  }
}
